*~
*.buildinfo
*.changes
*.deb
*.ddeb
*.deps
*.dsc
*.o
*.rpm
*.spec
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.log
config.status
configure
debian/changelog
debian/control
depcomp
install-sh
Makefile
Makefile.in
missing
moc_*
x11vnc-auto-*.tar.gz
src/vncmon/paths.h
src/vncmon/vncmon
systemd/x11vnc-auto@.service
x11vnc/build_x11vnc.sh
x11vnc/x11vnc
