*~
*.buildinfo
*.changes
*.deb
*.ddeb
*.deps
*.dsc
*.o
*.rpm
*.spec
*.tar.gz
*.tar.xz
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.log
config.status
configure
debian/changelog
debian/control
depcomp
install-sh
Makefile
Makefile.in
missing
moc_*
src/vncmon/vncmon