[Unit]
Description=x11vnc Per-Connection Server

[Service]
ExecStart=-/usr/bin/x11vnc -inetd -quiet -o /root/vnc.log -display :0 -once -rfbauth /root/.vnc/passwd -skip_lockkeys -timeout 5
StandardInput=socket
