#!/usr/bin/make -f

build:	
	dh_update_autotools_config
	dh_autoreconf
	 ./configure --prefix=/usr --bindir=/usr/lib/x11vnc-auto
	make $(DEBUILD_MAKE_ARGS)

binary:	
	dh_testroot
	dh_prep
	dh_auto_install
	dh_installchangelogs ChangeLog

	cp INSTALL debian/x11vnc-auto/usr/share/doc/x11vnc-auto/
	mkdir -p debian/x11vnc-auto/usr/share/x11vnc-auto
	cp conf/vncmon-sample.conf  debian/x11vnc-auto/usr/share/x11vnc-auto/

	dh_strip_nondeterminism
	dh_compress
	dh_fixperms
	dh_missing
	dh_dwz
	dh_strip
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

%:	
	dh $@
